@{
    ViewData["Title"] = "Suссess";
}

<div class="text-center mt-5">
    <h1 class="display-4 text-success">Zgłoszenie wysłane!</h1>
    <p class="lead">Twój błąd został zarejestrowany w systemie.</p>
    <hr class="my-4">
    <p>Administrator wkrótce nada mu priorytet i rozpocznie pracę.</p>

    <a asp-action="Index" class="btn btn-primary btn-lg" role="button">Wróć do listy moich zgłoszeń</a>
</div>